@font-face {
  font-family: 'Red_Hat_Display';
  src: local('Red_Hat_Display'), url(./fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Red_Hat_Display';
  font-weight: 700;
  src: local('Red_Hat_Display'), url(./fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Red_Hat_Display';
  font-weight: 300;
  src: local('Red_Hat_Display'), url(./fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Red_Hat_Display';
  font-style: italic;
  src: local('Red_Hat_Display'), url(./fonts/Red_Hat_Display/static/RedHatDisplay-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Red_Hat_Display';
  font-weight: 900;
  src: local('Red_Hat_Display'), url(./fonts/Red_Hat_Display/static/RedHatDisplay-Black.ttf) format('truetype');
}

* {
  font-family: Red_Hat_Display, serif;
}

body {
  padding-top: 56px;
  
}

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-custom {
  /* background-color: white; */
  background-color: #121212;
}

.nav-tabs .nav-link {
  color: rgb(73, 73, 73) !important;
}

.nav-tabs .nav-link.active {
  color: #e4b314 !important;
}

.nav-tabs .nav-link:hover {
  color: #050505 !important;
}

.error-text {
  color: red;
  font-weight: bold;
}

.brand_logo {
  height: auto !important;
  max-width: 250px !important;
}

.chat_logo {
  height: auto !important;
  max-height: 100px !important;
  max-width: 100px !important;
  display: block;
}

.chat_card {
  max-width: 950px !important;
}

.login_button {
  width: 80%;
}

.signin_button {
  width: 300px;
}

.text_link {
  text-decoration: none;
  color: #050505;
}

.text_link:hover {
  cursor: pointer;
}

.pure_icon:hover {
  cursor: pointer;
}

#inputGroupText {
  background: #f5c030 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.login_container {
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  background: #ffffff !important;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.icon_top{
  position: absolute;
  right: 0;
  top: 50px;
  margin: 10px;
}

.chat-body {
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  width: 500px;
}

.user {
  background-color: #ffcc00;
  align-self: flex-end;
}

.restaurant {
  background-color: #e1e1e1;
  align-self: flex-start;
}

.image-tile{
  border-radius: 15px !important;
}

.footer-logo{
  text-decoration: none;
  color: black;
  /* color: white; */
}

.no-decoration {
  text-decoration: none;
  color:#121212;
}

.menu-text {
  text-decoration: none;
  color: #888888;
  font-size: medium;
}

.menu-text:hover {
  cursor: pointer;
}

.footer-icons {
  text-decoration: none;
  color: #f5c030;
}

.app-footer {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  background-color: white;
  /*background-color: #121212;*/
}

.copyright {
  color: #646464;
  font-size: small;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
